<!DOCTYPE html>
<html>
<head>
  <title>ArtBazaar|<%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%if logged_in?%>
<%= link_to "Add Product", new_product_path, method: "get" %>
<%= link_to "View Products", products_path, method: "get" %>
<%= link_to "Order details", view_order_path, method: "get" %>
<%= link_to "Log out", logout_path, method: "delete" %>
</br>
<%= yield %>
  <%else%>
   <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "ArtBazaar", root_path %></h1>
      </div>
      <div class="col-xs-6 text-right">
        <div class="nav">
        <%= link_to "About", "#", method: "get",class:"about-link" %>

       <%= render 'layouts/cart_text' %>
     </div>
      </div>
    </div>
    <hr>
    <%= yield %>
  </div>
  <%end%>


</body>
</html>
